body{
background: #074d55; 
background: -moz-radial-gradient(center,ellipse cover,#a7cfdf 0%,#23538a 100%); 
background: -webkit-gradient(radial,right bottom,0px,left top,100%,color-stop(0%,#6967a5),color-stop(50%,#2075a1),color-stop(100%,#074d55)); 
background: -webkit-radial-gradient(right bottom,ellipse cover,#6967a5 0%,#2075a1 50%,#074d55 100%);
background: radial-gradient(ellipse at right bottom,#6967a5 0%,#2075a1 50%,#074d55 100%);"
}